*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/* Boot CSS */

html, body{
	height: 100%;
    scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
}

img{
	width: 100%;
}

.right{
    float: right;
}

.clear{
	clear: both;
}

.left{
    float: left;
}

.w50{
    width: 50%;
}

/* Fim Boot CSS */

/* Começo estilização */

/* Header */

header{
    background-color: black;
    color: white;
    padding: 15px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.box-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

.title h1{
    font-style: italic;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;

    transition: 1s;
}

.desktop-nav-bar li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 15px;
}

.desktop-nav-bar a:hover{
   color: grey;
}

.mobile-nav-bar{
    display: none;
}

/* Fim Header */

.main-box{
    height: auto;
    padding-top: 273px;
}

/* ------ about-me ------ */

#section-about-me{
    position: relative;
    top: -300px;
}

.box-about-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-about-me{
    width: 600px;
}

.image-about-me img{
    max-height: 500px;
    border-radius: 15px 15px;
}

.text-about-me{
    width: 350px;
    font-size: 18px;
    color: black;
    padding-left: 50px;
}

.text-about-me h1{
    position: relative;
    top: -50px;
}

/* ------ Fim about-me ------ */

/* ------ my-history page ------- */

#section-history{
    position: relative;
    top: -160px;
}

.history-box-content{
    margin-top: 200px;
}

.history-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    color: black;
}

.history-image{
    max-width: 500px;
    max-height: fit-content;
}

.history-image img{
    border-radius: 15px 15px;
}

.history-text {
    position: relative;
    width: 30%;
    font-size: 18px;
    padding-right: 50px;
    text-align: left;
}

.history-text h1{
    position: relative;
    top: -50px;
}

/* ------Fim my-history page------- */

/* ------ my-interests page ------- */

#section-interests{
    position: relative;
    top: -220px;
}

.interests-box-content{
    background-color: white;
    margin-top: 200px;
}

.interests-content{
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    justify-content: center;
}

.interests-image{
    max-width: 500px;
}

.interests-image img{
    border-radius: 15px 15px;
}

.interests-text {
    position: relative;
    width: 35%;
    padding-left: 50px;
    font-size: 18px;
}

.interests-text h1{
    position: relative;
    top: -50px;
}

/* ------ Fim my-interests page ------- */

/* ------  my-experience page ------- */

.experience-box-content{
    margin-top: 250px;
}

.experience-content{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
}

.experience-image img{
    max-height: 500px;
}

.experience-text {
    padding-left: 50px;
    width: 75%;
    font-size: 18px;
}

.experience-text h1{
    position: relative;
    top: -50px;
}

.logo-experience{
    display: flex;
    flex-direction: row;

    margin-top: 100px;
    margin-bottom: 100px;
}

.logo-experience img.logo-aero{
    max-width: 376px;
    margin: 0 25px;
    max-height: 120px;
}

.logo-experience img.logo-casadooleo{
    max-width: 400px;
    max-height: 120px;
    margin: 0 25px;
}

/* ------ Fim my-experience page ------- */

footer{
	width: 100%;
	bottom: 0;
	background-color: black;
	text-align: center;
	padding: 30px;
	font-size: 17px;
	font-weight: 400;
    color: white;
}

/* Fim estilização */

/* Design Responsivo */

@media screen and (max-width: 1000px) {



    .w50{
        width: 100%;
    }

    .box-about-me{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .image-about-me{
        margin-top: 50px;
        max-width: fit-content;
    }

    .text-about-me{
        padding-right: 50px;
    }

    .history-content{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .history-image{
        margin-top: 50px;
        max-width: 450px;
    }

    .history-text{
        padding-left: 50px;
    }

    .interests-content{
        display: flex;
        flex-direction: column-reverse;
        color: black;
        align-items: center;
        justify-content: center;
    }

    .interests-text{
        padding-right: 50px;
    }

    .interests-image{
        margin-top: 50px;
        max-width: 400px;
    }

    .experience-text{
        padding-right: 50px;
    }

    .logo-experience{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    
    .desktop-nav-bar{
        display: none;
    }

    .mobile-nav-bar{
        display: block;
    }

    .mobile-nav{
        padding: 0px 10px;
        display: inline;
        list-style: none;
    }

    .mobile-nav>a{
        text-transform: uppercase;
        font-size: 14px;
    }

    .mobile-nav>a:hover{
        color: grey;
    }
}

@media screen and (max-width: 630px) {
    
    .desktop-nav-bar{
        display: none;
    }

    .mobile-nav-bar{
        display: block;
    }

    .mobile-nav{
        display: block;
        list-style: none; 
    }

    .mobile-nav>a:hover{
        color: grey;
    }
}