*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

/* Boot CSS */

html, body{
	height: 100%;
    scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
}

img{
	width: 100%;
}

.w50{
	width: 50%;
}

.center{

}

/* Fim Boot CSS */

/* Começo estilização */

/* Header */

header{
    background-color: black;
    color: white;
    padding: 15px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.box-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

.title h1{
    font-style: italic;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;

    transition: 1s;
}

.nav-bar li{
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 15px;
}

.nav-bar a:hover{
   color: grey;
}

.clear{
	clear: both;
}

.left{
    float: left;
}

/* Fim Header */

.main-box{
    height: auto;
    padding-top: 273px;
}

/* ------ about-me ------ */

#section-about-me{
    position: relative;
    top: -300px;
}

.box-about-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image-about-me{
    width: 600px;
}

.image-about-me img{
    max-height: 500px;
    border-radius: 15px 15px;
}

.text-about-me{
    width: 350px;
    font-size: 18px;
    color: black;
    padding-left: 50px;
}

.text-about-me h1{
    position: relative;
    top: -50px;
}

/* ------ Fim about-me ------ */

/* ------ my-history page ------- */

#section-history{
    position: relative;
    top: -110px;
}

.history-box-content{
    margin-top: 200px;
}

.history-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    color: black;
}

.history-image img{
    position: relative;
    max-height: 750px;
    border-radius: 15px 15px;
}

.history-text {
    position: relative;
    width: 30%;
    font-size: 18px;
    padding-right: 50px;
    text-align: left;
}

.history-text h1{
    position: relative;
    top: -50px;
}

/* ------Fim my-history page------- */

/* ------ my-interests page ------- */

#section-interests{
    position: relative;
    top: -220px;
}

.interests-box-content{
    background-color: white;
    margin-top: 200px;
}

.interests-content{
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    justify-content: center;
}

.interests-image img{
    max-height: 500px;
    border-radius: 15px 15px;
}

.interests-text {
    position: relative;
    width: 35%;
    padding-left: 50px;
    font-size: 18px;
}

.interests-text h1{
    position: relative;
    top: -50px;
}

/* ------ Fim my-interests page ------- */

/* ------  my-experience page ------- */

.experience-box-content{
    margin-top: 250px;
}

.experience-content{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
}

.experience-image img{
    max-height: 500px;
}

.experience-text {
    padding-left: 50px;
    width: 35%;
    font-size: 18px;
}

.experience-text h1{
    position: relative;
    top: -50px;
}

.logo-experience{
    display: flex;
    flex-direction: row;

    margin-top: 100px;
    margin-bottom: 100px;
}

.logo-experience img.logo-aero{
    max-width: 376px;
    margin: 0 25px;
    max-height: 120px;
}

.logo-experience img.logo-casadooleo{
    max-width: 400px;
    max-height: 120px;
    margin: 0 25px;
}

/* ------ Fim my-experience page ------- */

footer{
	width: 100%;
	bottom: 0;
	background-color: black;
	text-align: center;
	padding: 30px;
	font-size: 17px;
	font-weight: 400;
    color: white;
}
/* Fim estilização */